@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Roboto:wght@400;700&display=swap');
:root {
   --serif-font: "Noto Serif";
   --sans-font: "Roboto"
}
*, body {
   font-family: var(--serif-font);
   font-size: 20px;
}

body {
   background-color: #dcd0ff;
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 30px;
}

button {
   font-family: var(--sans-font);
   padding: 16px 32px;
   border: none;
   border-radius: 8px;

   background-color: #f9faff;
}

#page-title {
   font-weight: bold;
   font-size: 26px;
   margin-top: 10vh;
}

#library {
   display: flex;
   flex-wrap: wrap;
   gap: 16px;

}

#library > div {
   width: 240px;
   height: minmax(320px, 1fr);
   background-color: azure;
   border: none;
   border-radius: 16px;
   padding: 16px 32px;

   position: relative;
}

.book-title {
   font-weight: bold;
   font-size: 24px;
}

.delete-btn {
   position: absolute;
   padding: 0;
   top: 24px;
   right: 16px;
   
   width: 24px;
   height: 24px;
   border: none;
   border-radius: 50%;

   background-color: #ff6961;
}

.read-status-btn {
   position: absolute;
   padding: 0;
   top: 64px;
   right: 16px;

   padding: 0;
   width: 24px;
   height: 24px;
   border: none;
   border-radius: 50%;

   background-color: #77dd77;
}

#new-book-form {
   display: none;
   align-items: center;
   justify-content: center;

   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;

   background-color: rgba(0,0,0,0.36);
  
}

#form-container {
   background-color: aliceblue;

   padding: 64px;
   border: none;
   border-radius: 16px;

   display: grid;
   grid-template-columns: 1fr 2fr;
   gap: 32px;
}

#form-container > label {
   display: flex;
   align-items: center;
}

#form-container > input {
   padding: 8px 10px;
   font-size: 16px;
   font-family: var(--sans-font);

   border: 1px solid #c9cacc;
   border-radius: 8px;
}

#form-container > span {
   grid-column: 1 / span 2;

   font-size: 24px;
   font-weight: bold;
}

#submit-btn {
   grid-column: 1 / span 2;
   background-color: #9678B6;

   border-radius: 24px;
   color: white;
}


